@using Orchard.Utility.Extensions;
@using AudioPlaylist;
@{

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
 //   var foo = (TextField)Model.ContentItem.Parts.First(Page => prop.PartDefinition.Name == "Audio").Fields.First(f => f.Name == "Mp3File");
}
<article class="@contentTypeClassName">
    <a>@Model.ContentItem.TitlePart.Title</a>
    <div class="lyricsdiv" style="display:none;">@Html.Raw(Model.ContentItem.BodyPart.Text)</div>
    <a href="#" class="lyricslink">Lyrics</a>
    <a href="@Model.ContentItem.Parts[6].Fields[0].Value" title="Right-Click then Save As">Download</a>

</article>