#playlistbody
{
	float: left;
}

#audiocontainer
{
	width: 500px;
	margin-left: 300px;
}

#jplayer_play
{
	border-width: 1px;
	border-style: solid;
	padding: 1px 6px 1px 6px;
	margin-bottom: 20px;
}

.audiolinks
{
	float:right;
}

.jp-playlist > ul
{
	list-style-type:none;
	margin: 0 0 0 0;
}

.jp-playlist > ul li
{
	list-style-type:none;
	margin: 0 0 0 0;
	
}

#audiocontainer a:hover, #audiocontainer a:active 
{ 
	color: #ab8666; 
}

.lyricsdiv p
{
	line-height:100%;
	margin: 0 0 0 0;
}

.lyricslink
{
	margin-right: 15px;
}

.item_time
{
	display:none;
}

.jplayer_playlist_current .item_time
{
	display:inline;
}